*{box-sizing: border-box;}
.Pools .Courts .Gym {display: none}
*img {display: block;
    height: auto;
    max-width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    align-items: center;
    display: block;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right of the pic*/
.next {right: 25%;
    border-radius: 3px 0 0 3px;
}

/* Position the "left button" to the left of the pic*/
.prev {left: 25%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
}

.text{
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
}


.img{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
}

h1, p{
    text-align: center;
}